@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	padding: 20px 0;
	background: #ccc;
	font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

h1 {
	font-size: 35px;
	text-align: center;
}

.comment {
	display: flex;
	position: relative;
	margin: 32px 0;
	width: 100%;
	padding: 38px 135px 38px 61px;
	box-sizing: border-box;
	color: #00226c;
	background: #f4f8fb;
}

.comment-delete {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	color: red;
	cursor: pointer;
}

.comment-classgrade {
	padding: 0;
	box-sizing: border-box;
	vertical-align: top;
	width: 22%;
	font-size: 24px;
	border-right: 1px solid #00226c;
}

.comment-classgrade span {
	line-height: 34px;
}

.comment-classgrade h4 {
	margin-bottom: 15px;
	color: #ff3d54;
	text-transform: capitalize;
}

.comment-class {
	margin-bottom: 25px;
}

.comment-text {
	width: 77%;
	vertical-align: top;
	padding: 0 30px;
	box-sizing: border-box;
	font-size: 20px;
}

.comment-text h4 {
	margin-bottom: 50px;
	color: #ff3d54;
	text-transform: uppercase;
}

#comment-failed, #comment-empty {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.comment-modal, .comment-emptymodal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 6rem auto;
	padding: 55px 0;
	box-sizing: border-box;
	max-width: 648px;
	color: #fff;
	font-size: 23px;
	font-weight: bold;
	border-radius: 45px;
}

.comment-modal {
	background: #FF7373;
}

.comment-emptymodal {
	background: #FFBC40;
}

.comment-exit, .comment-emptyexit {
	position: absolute;
	top: 15px;
	right: 15px;
}

.comment-exit .close, .comment-emptyexit .close {
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
}

.comment-exit .close {
	color: #A60000;
}

.comment-emptyexit .close {
	color: #A66C00;
}

.admin-btn {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.comment-button {
	text-align: center;
}

button {
	padding: 7px 25px;
	border: none;
	border-radius: 5px;
	background: #007929;
	font-size: 20px;
	font-weight: bold;
	color: #ffc106;
}

button:hover {
	cursor: pointer;
	color: #fff;
}

@media screen and (max-width: 1180px) {
	.container {
		padding: 0 30px;
	}
	.comment {
		padding: 35px 35px 50px;
	}
}

@media screen and (max-width: 768px) {
	.comment {
		padding: 35px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		padding: 0 10px;
	}
	.comment {
		display: flex;
		flex-direction: column;
		padding: 25px;
		margin: 20px 0;
	}
	.comment-classgrade {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding-bottom: 10px;
		border-right: none;
		border-bottom: 1px solid #00226c;
	}
	.comment-class {
		margin-bottom: 0;
		text-align: center;
	}
	.comment-grade {
		text-align: center;
	}
	.comment-text {
		width: 100%;
		padding: 0;
	}
	h4, .comment-text h4 {
		margin: 15px 0;
	}
	.comment-text h4 {
		text-align: center;
	}
	.comment-text p {
		margin: 15px 0 0;
	}
	.comment-emptymodal {
		text-align: center;
	}
}